#div1 {
  background-color: red;
  height: 500px;
}

#div2 {
  background-color: green;
  height: 500px;
}


#div3 {
  background-color: red;
  height: 500px;
}

#div4 {
  background-color: green;
  height: 500px;
}

#div5 {
  background-color: red;
  height: 500px;
}
